@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>
<hr />

<address>
    <strong>Name: </strong> HARSH MALIK<br />
    <strong>Phone: </strong> +91-9619717005<br />
    <strong>Email: </strong> <a href="mailto:malik.harsh.hm.3@gmail.com">malik.harsh.hm.3@gmail.com</a><br />
</address>